li{
  list-style-type: none; 
}

body { 
margin: 0;
font-family: Arial, Helvetica, sans-serif;
background-color: #ffffff;
}

#titre{
  margin: 0 auto;
  width: 7em;
}

#connexionPage{
position: absolute;
z-index: 100;
background-color: #e2b286;
position: fixed;
padding: 1em;
margin-top: 10em;
margin-left: 50%;
display: none;
}


#navbar {
overflow: hidden;
background-color: #e2b286;
padding: 40px 10px;
transition: 0.4s;
position: fixed;
width: 100%;
top: 0;
z-index: 99;
}

#navbar a {
float: left;
color: black;
text-align: center;
padding: 12px;
text-decoration: none;
font-size: 18px; 
line-height: 25px;
border-radius: 4px;
}

.marge{
margin-top: 15em;
margin-bottom: 2em;
}

.littleMarge{
margin: 1em;
}

i{
font-size: 3em;
}


.brd{
border: 1px solid black;
border-radius: 12px;
box-shadow: 3px 3px 3px rgb(82, 82, 82);
}

#facebook:hover{     color: #3b5998; }  
#linkedin:hover{     color: #066686; }  
#instagram:hover{     color: rgb(226, 7, 117); }

.orange{
background-color: #e2b286;
}

.blue{
  background-color: #f1f7ff;
}


footer{
margin-top: 2em;
background-color: #e2b286;
}

.boutton{
  background-color: #e2b286;
  border: 1px solid black;
  color: black;
  padding: 5px;
  margin: 5px;
  border-radius: 12px;
  width: 10em;
  text-align: center;
  cursor: pointer;
}

.page{
  background-color: #e2b286;
  border: 1px solid black;
  border-radius: 30px;
  padding: 0.5em;
  margin: 0.25em;
  text-decoration: none;
  cursor: pointer;
  color: black;
}

.page:hover{
  color: black;
}



.fa-star {
  color: gray;
  cursor: pointer;
  padding: 0.0625rem;
}

.fa-star.gold {
  color: #ffdc0f;
}
  
.afficherating {
  display: flex;
  flex-direction: column;
  
  margin-bottom: 0.5em;
  display : inline-block;
}

.rating {
  display: flex;
  flex-direction: column;
  
  margin-bottom: 0.5em;
  
  display : inline-block;
  justify-content: right;
}

.stars, .starsnote {
  display: inline-flex;
  font-size: 0.4em;
}

.starsnote:hover .fa-star {
  color: #ffdc0f;
}

.starsnote .fa-star:hover ~ .fa-star {
  color: gray;
}
.textnote
{
  margin-bottom : 0em;
}
a {font-weight: 600; transition: all 0.8s cubic-bezier(.14,1.36,.5,.88); display: inline-block; }
a:hover { transform: scale(1.3) }  



 input[type="submit"]{
  display:inline-block;
  padding:0.3em 1.2em;
  margin: 0;
  border-radius:2em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:300;
  color:#FFFFFF;
  background-color:#eb8b32;
  text-align:center;
  transition: all 0.2s;
  border-color: #eb8b32;
  }
  input[type="submit"]:hover{
  background-color:#e2b286;
  }