li{
    list-style-type: none; 
}

body { 
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f1f7ff;
}

#titre{
    margin: 0 auto;
    width: 7em;
}

#connexionPage{
  position: absolute;
  z-index: 100;
  background-color: #e2b286;
  position: fixed;
  padding: 1em;
  margin-top: 10em;
  margin-left: 50%;
  display: none;
}


#navbar {
  overflow: hidden;
  background-color: #e2b286;
  padding: 40px 10px;
  transition: 0.4s;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99;
}

#navbar a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}

.marge{
  margin-top: 15em;
  margin-bottom: 2em;
}

.littleMarge{
  margin: 1em;
}

i{
  font-size: 3em;
}


.brd{
  border: 1px solid black;
  border-radius: 12px;
}

#facebook:hover{     color: #3b5998; }  
#linkedin:hover{     color: #066686; }  
#instagram:hover{     color: rgb(226, 7, 117); }

.orange{
  background-color: #e2b286;
}


footer{
  margin-top: 2em;
  background-color: #e2b286;
}

