li{
  list-style-type: none; 
}

body { 
margin: 0;
font-family: Arial, Helvetica, sans-serif;
background-color: #ffffff;
}

#titre{
  margin: 0 auto;
  width: 7em;
}

#connexionPage{
position: absolute;
z-index: 100;
background-color: #e2b286;
position: fixed;
padding: 1em;
margin-top: 10em;
margin-left: 50%;
display: none;
}


#navbar {
overflow: hidden;
background-color: #e2b286;
padding: 40px 10px;
transition: 0.4s;
position: fixed;
width: 100%;
top: 0;
z-index: 99;
}

#navbar a {
float: left;
color: black;
text-align: center;
padding: 12px;
text-decoration: none;
font-size: 18px; 
line-height: 25px;
border-radius: 4px;
}

.marge{
margin-top: 15em;
margin-bottom: 2em;
}

.littleMarge{
margin: 1em;
}

i{
font-size: 3em;
}


.brd{
border: 1px solid black;
border-radius: 12px;
box-shadow: 3px 3px 3px rgb(82, 82, 82);
}

#facebook:hover{     color: #3b5998; }  
#linkedin:hover{     color: #066686; }  
#instagram:hover{     color: rgb(226, 7, 117); }

.orange{
background-color: #e2b286;
}

.blue{
  background-color: #f1f7ff;
}


footer{
margin-top: 2em;
background-color: #e2b286;
}

button{
  background-color: #e2b286;
  border: 1px solid black;
  color: black;
  padding: 5px;
  margin: 5px;
  border-radius: 12px;
}

/* Par défaut, une étoile est en gris,
   avec un padding et un curseur en forme de main. */
   .fa-star {
    color: #ffdc0f;
    cursor: pointer;
    padding: 0.0625rem;
  }
  /* Si elle porte en plus la classe '.gold', elle sera en jaune. */
  .fa-star.gold {
    color: #ffdc0f;
  }
  
  /* Le parent global '.rating' positionne le groupe des étoiles et le lien en colonne */
  .rating {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
    /* Le groupe '.stars' positionne les étoiles
       les unes à côté des autres sans espacements. */
    .stars {
      display: inline-flex;
      justify-content: right;
      font-size: 0.3em;
    }
  
    /**
     * Et là opère la magie du ':hover' !
     */
  
    /* A l'état :hover sur le parent '.rating',
       on force TOUTES les étoiles à passer en jaune. */
    .stars:hover .fa-star {
      color: #ffdc0f;
    }
    /* Et si la souris survole une étoile en particulier,
       on sélectionne toutes les étoiles qui sont APRÈS celle-ci
       grâce à l'opérateur '~' et on les force en GRIS */
    .stars .fa-star:hover ~ .fa-star {
      color: gray;
    }
/* style pour la démo */
html { margin-top: 2em; text-align: center; font-family: 'Droid Sans', sans-serif; font-size: 1.4rem; }
a { color: crimson; font-weight: 600; transition: all 0.8s cubic-bezier(.14,1.36,.5,.88); display: inline-block; }
a:hover { transform: scale(1.3) }  